<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../style/recibo.css">

</head>

<body onload = "visualizarPedido()">

    <header>
        <section id="tituloRecibo"></section>
    </header>
    <main>
        <section id="contenido_recibo">
            <h2>aqui va el contenido del recibo</h2>
            <table id=productosPedido">

            </table>
            <article id="totalPagar">

            </article>


        </section>
        <section id="botones">
            <button>Pagar</button>
            <button>Cancelar</button>
            <button>Guardar Pedido</button>
        </section>

    </main>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="../scripts/hamburgueseria.js"> </script>
</body>

</html>