<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Raul Gomez">
    <title>Revision hamburgueseria de Oscar</title>
  
    <!-- CSS -->
    <link rel="stylesheet" href="./../style/hamburgueseria.css">
</head>

<body>
    <h1>Menú </h1>
    <header>
        <nav id="nav-menu">
            <button id="btn-menu-hamburguesas" onclick="mostrarMenu('hamburguesas')">Hamburguesas</button>
            <button id="btn-menu-hamburguesas" onclick="mostrarMenu('bebidas')">Bebidas</button>
            <button id="btn-menu-hamburguesas" onclick="mostrarMenu('complementos')">Complementos</button>
            <button id="btn-menu-hamburguesas" onclick="mostrarMenu('postres')">Postres</button>
        </nav>
    </header>
    <section id="contenidoMenu">
        <!-- Html insertado desde JS -->
    </section>
    <section>
        <button onclick="generaTicket()" id="btn_tupedido">
            <h1>TU PEDIDO</h1>
        </button>

        <h2 id="precioTotal"></h2>
    </section>
    <section>
        <h2>Observaciones pedido (alergias, cambios ingredientes) : </h2>
        <textarea onchange="setearInfo()" name="infoextra" id="infoextra" cols="30" rows="10"></textarea>
    </section>
    <section class="botones">
        <!-- <a href="recibo.html"><button onclick="almacenarCesta()">Hacer pedido</button></a> -->
        <button onclick="cancelarPedido()">Cancelar pedido</button>
        <button onclick="tramitarPedido()">Tramitar pedido</button>
    
    </section>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../scripts/clases/Alimento.js"></script>
    <script type="text/javascript" src="../scripts/clases/Bebida.js"></script>
    <script type="text/javascript" src="../scripts/clases/Complemento.js"></script>
    <script type="text/javascript" src="../scripts/clases/Hamburguesa.js"></script>
    <script type="text/javascript" src="../scripts/clases/Pedido.js"></script>
    <script type="text/javascript" src="../scripts/clases/Postre.js"></script>
    <script type="text/javascript" src="../scripts/clases/Pedido.js"></script>
    <script type="text/javascript" src="../scripts/hamburgueseria.js"></script>

</body>

</html>