<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../style/recibo.css">

</head>

<body onload="visualizarPedido()" >

    <header>
        <h1>Ooooossssscar Burguer</h1>
        <section id="tituloRecibo">

        </section>
    </header>
    <main>
        
        <section id="contenido_recibo">
            <h2>aqui va el contenido del recibo</h2>
            <table id="productosPedido">
                <tr>
                    <th><h3>Cta</h3></th>
                    <th><h3>Descripcion</h3></th>
                    <th><h3>Precio</h3></th>
                </tr>
                <!-- Append filas por productos en pedido -->
            </table>
            <article id="totalPagar">

            </article>


        </section>
        <section id="botones">
            <button onclick="visualizarPedido()">Mostrar ticket</button>
            <button>Cancelar</button>
            <button>Guardar Pedido</button>
        </section>
    </main>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../scripts/clases/Alimento.js"></script>
    <script type="text/javascript" src="../scripts/clases/Bebida.js"></script>
    <script type="text/javascript" src="../scripts/clases/Complemento.js"></script>
    <script type="text/javascript" src="../scripts/clases/Hamburguesa.js"></script>
    <script type="text/javascript" src="../scripts/clases/Pedido.js"></script>
    <script type="text/javascript" src="../scripts/clases/Postre.js"></script>
    <script type="text/javascript" src="../scripts/recibo.js"></script>
</body>

</html>