

/* ESTRUCTURA DE LA PAGINA */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
header{
width: 100%;
padding: 1em;
margin: 2em;
background: var(--white-bg-color);
}

/* NAVEGADOR PRINCIPAL  */

/* TODO Arreglar */
.nav-principal {
    background: var(--main-gradient);
    display: flex;
    justify-content: center; 
    
}
.nav-principal>ul {
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    justify-content: space-between;
    text-align: center;
}
.nav-principal li {
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--secondary-color);
    min-width: 80px;
    margin: auto;
}
.nav-principal li:hover {
    background:var(--secondary-gradient);
    background-size: 100% 100%;
    color: var(--main-color);
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 var(--secondary-color);
    font-weight: regular;
}
.nav-principal li:active {
    transform: translateY(4px);
}
/*NAVEGADOR SUBMENU */
#razas>ul{
    display: none;
}

#razas:hover>ul{
    display: flex;
    flex-direction: column;
    margin: auto;
}
/* ANIMIACIÓN BOTONES NAVEGADOR */
HTML CSS Result Skip Results Iframe EDIT ON * {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }

    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }

    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}
/* ************ */
/* MAIN */
main{
    width: 80%;
    background-color: var(--white-bg-color);

}
footer{
    width: 100%;
    background-color: var(--main-gradient);

}