/* ESTRUCTURA DE LA PAGINA */
body {
    background-color: var(--white-bg-color);
}

/* HEADER */
header {
    /*     border: solid 3px green;
 */
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background: var(--white-bg-color);
    padding: 0.5em;
}

.logo {
    width: 5%;
    /*     border: solid 4px red;
 */
}

.nombreWeb {
    /*     border: solid 4px red;
 */
    text-align: center;
}

/* NAVEGADOR PRINCIPAL  */

/* TODO Arreglar */
.nav-principal {
    /*     border: solid 4px red;
 */
}

.nav-principal>ul {
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;
}

.nav-principal ul li {
    position: relative;
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--secondary-color);
    list-style: 2px ar(--main-color);
    min-width: 80px;
    margin: auto;
}

.nav-principal a {
    display: block;
    padding: 15px 20px;
}

.nav-principal li:hover {
    background: var(--secondary-gradient);
    background-size: 100% 100%;
    color: var(--main-color);
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 var(--secondary-color);
    font-weight: regular;
}

.nav-principal li:active {
    transform: translateY(4px);
}

/*NAVEGADOR SUBMENU */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #c50606;
}

.nav-principal li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
}

.submenu a {
    padding: 10px 20px;
}

.submenu li:hover {
    background-color: #555;
}



/* ANIMIACIÓN BOTONES NAVEGADOR */
HTML CSS Result Skip Results Iframe EDIT ON * {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }

    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }

    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }

    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}

/* ************ */
/* MAIN */
main {
    /*     border: solid 3px;
 */
    width: 100%;
    background-color: var(--white-bg-color);

}


footer {
    width: 100%;
    border-top: solid var(--secondary-color) 0.4rem;
    background: var(--main-color);
    height: 10rem;
    text-align: center;
    line-height: 10rem;
}