/* ************ */
/* TIPOGRAFÍA */
@font-face {
    font-family: "Roboto";
    src: url(../font/RobotoCondensed-Regular.ttf);
    font-weight: regular;
}

/* *************************** */
/* VARIABLES: colores y tamaños */
:root {
    /* colores */
    --main-color: #F2CAA7;
    --secondary-color: #7A979D;
    --black-font: #05081C;
    --white-bg-color: #FAFAFA;

    --main-gradient: linear-gradient(359deg, #FD9C4C 0%, #F2CAA7 52%, #FD9C4C 100%);
    --secondary-gradient: linear-gradient(359deg, #7A979D 0%, #C7F6FF 52%, #7A979D 100%);

    /* tipografías */
    --titulo-font: 'Gloria Hallelujah', cursive;
    --txt-font: Roboto;
}

/* ******************* */
/* RESETEO DE FORMATOS POR DEFECTO, DOCUMNETO */
* {
    /*El tamaño que le damos a la caja lo coje desde el borde*/
    font-family: var(--txt-font);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    /* Se establece al medida root en 16 px. Estandar texto para web */
    font-size: 16px;
     /*El tamaño que le damos a la caja lo coje desde el borde*/
     box-sizing: border-box;
}

/* ELEMENTOS COMUNES A TODO EL DOCUMENTO */
body {
    height: 100%;
}

img {
    max-width: 100%;
}

/* ********* */
/* TITULOS */
h1,
h3 {
    font-family: var(--titulo-font);
}

h2,
h4,
h5,
h6,
p,
figcaption {
    font-family: var(--txt-font);
}

h1 {
    font-size: 3.812rem;
}

h2 {
    font-size: 2.438rem;
}

h3 {
    font-size: 1.938rem;
}

h4 {
    font-size: 1.562rem;
}

h5 {
    font-size: 1.250rem;
}

caption {
    font-size: 0.81250rem;
}

p{
    line-height: 1.5;
}

/* LINKS */
a {
    text-decoration: none;
    color: black;
}

/* CLASES PARA USAR */


.txt-center {
    text-align: center;
}