article {
    display: grid;
    place-items: center;
    border-radius: 150px;
    height: 500px;
    width: 500px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #9e24d6 60%, #eb28aa 90%);
}

article div {
    border-style: solid;
    border-color: white;
    border-width: 30px;
    height: 300px;
    width: 300px;
    border-radius: 100px;

}

.circulo {
    border-style: solid;
    border-color: white;
    border-width: 30px;
    height: 160px;
    width: 160px;
    border-radius: 200px;
    margin-left: 40px;
    margin-top: 40px;
}

.circuloPequeno {
    border-color: white;
    background-color: white;
    border-width: 15px;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    position: absolute;
    top: 130px;
    left: 350px;

}