<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="../style/index.css">
    <!-- Script JS -->
    <script src="../scripts/index.js"></script>
    <title>Hamburgueseria de Oscar</title>
</head>

<body>
    <h1>Burguer Oscar</h1>
    <section id="instrucciones">
        <h2>Instrucciones</h2>
        <!-- Instrucciónes hambrguesería.  -->
        <ol>
            <li>
                <h3>Iniciar Sesión:</h3>
                <p>Abre la aplicación e inicia sesión con tu cuenta existente o crea una nueva.</p>
            </li>

            <li>
                <h3>Selecciona tu Hamburguesa:</h3>
                <p>Dirígete a la sección de "Menú" y elige el tipo de hamburguesa que deseas ordenar. Puedes elegir
                    entre opciones como "Clásica", "Doble carne" o "Vegetariana".</p>
            </li>

            <li>
                <h3>Personaliza tu Pedido:</h3>
                <p>Personaliza tu hamburguesa seleccionando los extras que desees. Puedes agregar queso, tomate o
                    lechuga según tus preferencias.</p>
            </li>

            <li>
                <h3>Completa la Información de Entrega:</h3>
                <p>En la sección de "Datos de Entrega", proporciona tu nombre y la dirección donde deseas que
                    entreguemos tu deliciosa hamburguesa.</p>
            </li>

            <li>
                <h3>Revisa tu Pedido:</h3>
                <p>Antes de confirmar, revisa cuidadosamente los detalles de tu pedido en la pantalla de resumen.
                    Asegúrate de que todo esté correcto.</p>
            </li>

            <li>
                <h3>Realiza el Pago:</h3>
                <p>Procede a la sección de pago y elige tu método de pago preferido. Ingresa la información necesaria
                    para completar la transacción de manera segura.</p>
            </li>

            <li>
                <h3>Confirmación del Pedido:</h2>
                    <p>Después de realizar el pago, recibirás una confirmación de tu pedido junto con los detalles de
                        entrega estimados.</p>
            </li>

            <li>
                <h3>Espera la Entrega:</h2>
                    <p>¡Listo! Ahora solo tienes que esperar a que nuestra entrega llegue a tu puerta. Te mantendremos
                        informado sobre el estado de tu pedido.</p>
            </li>
        </ol>

        <section id="botones">
            <!-- Boton hacer pedido  -->
            <button id="btn_hacerPedido" onclick="redireccionMenu()">Hacer pedido</button>
            <!-- Pedidos antiguos -->
            <button id="btn_antiguos">Pedidos antiguos</button>
        </section>
    </section>

</body>

</html>