main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin: 1.25rem 0;
}

/* Content section styles */
.contenido {
/*     border: 5px solid black;
 */    max-width: 80%;
    min-width: 80%;
    height:50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.mapa {
    width: 50%;
/*     border: 0.125rem solid #F2CAA7; 
 */    border-radius: 0.625rem; 
    overflow: hidden;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); 
/*     border: 5px solid red;
 */
}

.mapa iframe {

    width: 100%;
    height: 80%;
/*     border: 5px solid blue;
 */}

/* Form article styles */
.formulario {
    padding: 1.25rem; /* 20px converted to rem */
    border-radius: 0.625rem; /* 10px converted to rem */
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); /* 10px converted to rem */
/*     border: 5px solid red;
 */    width: 45%;


}
.formulario h2,h3{
    margin:0.3em;
    padding:0.3em;
    text-align: center;
}
form {
    max-width: 25rem; 
    align-items: center;
    margin: 0 auto;
}



input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.625rem; 
    margin-bottom: 0.625rem; 
    border: 0.0625rem solid #ccc; 
    border-radius: 0.3125rem; 
}

input[type="submit"] {
    background:var(--main-gradient);
    color: var(--black-font);
    padding: 0.625rem 1.25rem; 
    border: none;
    border-radius: 0.3125rem; /* 5px converted to rem */
    cursor: pointer;
}


