/* ROOT vs HTML (diferencias) */
/*      https://stackoverflow.com/questions/60680887/root-html-selector-any-differences */
/* API información */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_selectors */

/* Establecer variable de tamaños comunes para todo elemnto (sobre todo las tarjetas) */
:root {
    /* https://developer.mozilla.org/es/docs/Web/CSS/calc */
    --w: calc(70vw / 6);
    --h: calc(70vh / 4);
}

/* 3. Transiciones para hacer que todo se mueva más suave */
* {
    transition: all 0.5s;
}


/* 4.Definición de las clases realacionadas con las tarjetas */
.area-tarjeta,
.tarjeta,
.cara {
    width: var(--w);
    min-width: 80px;
    height: var(--w);
}

/* 5. La posición es relevante para solapar tarjeta y cara */
.tarjeta {
    position: relative;
    /* propiedad de 3D */
    transform-style: preserve-3d;
    /* Para aplicar animación @keyframes, es solo la animación de incio de juego */
    animation: iniciar 3s;
}


/* 8. Efecto para las tarjetas, para voltearlas */
/* Pasas posteriormente a JS */
/* .area-tarjeta:hover .tarjeta{
    transform:rotateY(180deg);
} */

/* 5. La posicio es relevante apara solapar tarjeta y cara */
.cara {
    position: absolute;
    /* para ocultar al rotar */
    backface-visibility: hidden;
    /* sombreado */
    box-shadow: inset 0 0 0 5px white;
    /* ajuste iconos */
    font-size: 500%;
    /* para centar el icono */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 6. Color de la parte oculta */
.trasera {
    background-color: lightcyan;
    transform: rotateY(180deg);
}

/* 6. Color de la parte mostrada */
.superior {
    background: linear-gradient(orange, darkorange);
}

/* 7. Se elige un color que case con el elegido de las tarjetas */
body {
    padding: 0;
    margin: 0;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/perspective */
    -webkit-perspective: 1000;
    background-color: powderblue;
    /* distribución */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Calibri;
}

div {
    display: inline-block;
}

/* 10. CSS para botón nuevo juego */
.nuevoJuego {
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50%;
    border: white 3px solid;
    font-size: 130%;
    /* 20. El juego va a tener un cursor tipo pointer */
    /* cursor:pointer; */
}

/* 17.Creación y llamada arriba (.tarjeta animation de esta función de animación */
/* Animación para girar la cara 5 secs */
@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}