body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbd10b;
    color: #64435d;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #64435d;
    color: #fbd10b;
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ol {
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

#botones {
    display: flex;
justify-content: space-around;
align-items: center;
margin: 20px;
padding: 20px;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    flex: 1;
    padding: 15px;
    margin: 0 10px;
    background-color: #64435d;
    color: #fbd10b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #52354a;
}

