main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h3 {
    text-align: center;
    padding: 1rem; 
    margin: 1rem 0; 

}

.ficha {
    border:#f1a05a solid, 4px;
    align-self: center;
    display: flex;
    width: 61.25rem;
    height: 68.5625rem;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.875rem 1.0625rem;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.ficha img{
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
}


.ficha>img {
    
    display: flex;
    width: 30.1875rem;
    height: 27.1875rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.descripcion {
    width: 30rem;
    height: 29.63681rem;
    flex-shrink: 0;
}

h2 {
    display: inline-block;
    position: relative;
    color: var(--main-color);
    
}

.descripcion h2::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 3px;
    background-color: var(--main-color);
    top:0.6em;
    left:5em;
}
.descripcion ul{
    padding-top: 0.5em ;
    padding-left: 1.5em;
    padding-bottom: 1em;
}
.descripcion li{ 
    list-style: circle;
    line-height: 1.5;
}

#historia::after {
    content: "";
    position: absolute;
    width: 250%;
    height: 3px;
    top:0.6em;
    left: 3.5em;
    

}
.salud h2::after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 3px;
    background-color: var(--main-color);
    top:0.6em;
    left:2.5em;
}

/* IMAGENES */
.contenedor_imagenes{
    padding: 4em 2em;
/*     border: 5px solid rgb(255, 64, 0);
 */    display: flex;
    justify-content: space-around;

}
 .contenedor_imagenes img{
    position:relative;
    max-width: 20em;
    margin: 1em;
    background:  linear-gradient(38deg, #f1a05a,var(--main-color));
    border: var(--secondary-color-) solid 3px;
} 


